body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(67, 86, 105);
}
project-name{

}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid black;
    box-shadow: -5px 3px 5px 5px rgba(0, 0, 0, 0.534);
    display:inline-block;
    background-color: white;
    margin: 1.5em 0;
    cursor: pointer;
}

.tools .color-bucket {
    height: 30px;
    width: 30px;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px;
    border-radius:50% ;
    border: 2px solid black;
    transition: transform .3s;
}

.color-bucket:hover{
    transform: scale(1.2);
}

.tools{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.button {
    cursor: pointer;
    padding: 5px;
    border-radius: 10%;
    background-color: rgb(32, 28, 28);
    color: white;
    font-weight: bold;
}

.color-picker {
    height: 30px;
}

div .color-bucket:nth-child(3){
    background-color: red;
}

div .color-bucket:nth-child(4){
    background-color: green;
}

div .color-bucket:nth-child(5){
    background-color: yellow;
}

div .color-bucket:nth-child(6){
    background-color: blue;
}
